html {
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: normal;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--mont);
}

:root {

    /* font sizes */
    --base: 1rem;
    --h5: 1.33rem;
    --h3: 2.37rem;
    --h2: 3.15rem;
    --h1: 4.2rem;

    /* Colors */
    --background: #fff;
    --text-25: #c4c7c9;
    --text-50: #898e93;
    --text-75: #50575e;
    --text: #151f28;
    --primary: #ff7f11;
    --style: rgba(255, 127, 17, 0.07);

    /* Gaps */
    --start-point: 10vw;

    /* Paddings */
    --padding-2xs: 1.3125rem;
    --padding-3xs: 1.875rem;
    --padding-sm: 1.5rem;

    /* border radiuses */
    --br-xs: .75rem;

    /* Effects */
    --drop-mini: 1px 1px 40px #ffdaba;
}



@media screen and (max-width: 480px) {
    html {
        font-size: 90%;
    }
    :root {
        --start-point: 2rem;
    }
}